.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container {
}
img {
  width: 200px;
  height: auto;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
}
.header-title {
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
}
.content-text {
  text-align: center;
}
.button-container {
}
